.title {
  font-size: 20px;
  font-weight: 700;
}

.selector {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 24px;

  .selector__title {
    font-size: 14px;
    line-height: 20px;
  }
  
  .selector__empty {
    font-size: 14px;
    line-height: 20px;
    color: #888888;
  }
}

.picker-list {
  display: flex;
  align-items: center;
  gap: 8px;
}

.time-picker {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-family: inherit;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-size: 14px;

  .time-picker--name {
    padding: 0 12px;
    height: 40px;
    background-color: #1D1D1D;
    border: 1px solid #252527;
    border-radius: 50px;
    display: flex;
    align-items: center;
    
    &.picker---active {
      border: 1px solid #1D51FE;  
    }
  }
}

.day-picker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: inherit;
  background-color: #1D1D1D;
  border: 0;
  cursor: pointer;
  font-size: 14px;
  width: 92px;
  height: 56px;
  border: 1px solid #252527;
  border-radius: 12px;

  &.picker---active {
    border: 1px solid #1D51FE;  
  }

  .day-picker--name,
  .day-picker--subname {
    font-size: 14px;
    line-height: 20px;
  }

  .day-picker--name {
    color: #888888;
  }
  
  .day-picker--subname {
    font-weight: 600;
    color: #FFFFFF;
  }
}
