<!-- <p-drawer [(visible)]="visible" [closable]="false" position="right">
  <div class="login__content">
    <h2 class="login__title">¡Hola! Qué bueno verte por acá.</h2>

    <form class="login__form" [formGroup]="form" (submit)="onLogin()">
      <div class="field">
        <label class="field__label">Correo electronico</label>

        <input type="email" pInputText placeholder="Correo electronico" formControlName="email" />
      </div>

      <div class="field">
        <label class="field__label">Contraseña</label>

        <input type="password" pInputText placeholder="Contraseña" formControlName="password" />
      </div>

      <button pButton>Iniciar Sesión</button>
    </form>

    <div class="login-drawer__footer">
      <span class="login-drawer__footer-text">¿No tenés cuenta?</span>
      <a href="#" class="login-drawer__register-link">Registrate</a>
    </div>
  </div>
</p-drawer> -->

<!-- @if (currentUser()) {
  <div class="avatar">
    <img [src]="currentUser().user_metadata['avatar']" class="avatar__image" />
  </div>
} @else {
  <button (click)="visible = true" class="avatar">
    <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M12.1601 10.87C12.0601 10.86 11.9401 10.86 11.8301 10.87C9.45006 10.79 7.56006 8.84 7.56006 6.44C7.56006 3.99 9.54006 2 12.0001 2C14.4501 2 16.4401 3.99 16.4401 6.44C16.4301 8.84 14.5401 10.79 12.1601 10.87Z"
        stroke="white"
        stroke-width="1.5"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M7.16021 14.56C4.74021 16.18 4.74021 18.82 7.16021 20.43C9.91021 22.27 14.4202 22.27 17.1702 20.43C19.5902 18.81 19.5902 16.17 17.1702 14.56C14.4302 12.73 9.92021 12.73 7.16021 14.56Z"
        stroke="white"
        stroke-width="1.5"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
  </button>
} -->
