.wrapper {
  width: 100%;
  width: 1000px;
  margin: 0 auto;
  padding: 48px 0;
}

.detail {
  display: flex;
  justify-content: space-between;
  gap: 48px;
  width: 100%;
  width: 1000px;
  margin: 0 auto;
}

.detail__container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.detail__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 56px;
  width: 690px;

  .detail__title {
    font-size: 28px;
    font-weight: 700;
    margin: 0;
  }

  .detail__synopsis-wrapper {
    position: relative;
    max-height: 72px;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;

    &--expanded {
      max-height: 500px;
    }

    .detail__synopsis {
      margin: 0;
      font-size: 16px;
      line-height: 24px;
      color: #888888;
    }
  }

  .detail__toggle {
    color: #3b6bf5;
    cursor: pointer;
    font-weight: 500;
    display: inline-block;
    
    &:hover {
      text-decoration: underline;
    }
  }
}

.detail__meta {
  display: flex;
  gap: 8px;
}

.pill {
  padding: 5px 12px;
  height: 32px;
  border-radius: 12px;
  background-color: #1D1D1D;
  border: 1px solid #252527;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}

.detail__poster {
  width: 200px;
  height: 300px;
  border-radius: 24px;
  object-fit: cover;
}

.review {
  padding: 20px;
  border-radius: 16px;
  background-color: #1D1D1D;
  border: 1px solid #252527;
  display: flex;
  flex-direction: column;
  gap: 12px;

  .review-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .review-user {
    display: flex;
    gap: 12px;

    .movie-detail__review-author,
    .movie-detail__review-time {
      font-size: 14px;
      line-height: 20px;
    }

    .movie-detail__review-time {
      color: #888888;
    }
  }

  .movie-detail__review-stars {
    display: flex;
    gap: 8px;
  }

  .movie-detail__review-comment {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    white-space: pre-line;
  }
}

.review__avatar {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
}

.movie-detail__reviews {
  margin-top: 48px;

  .movie-detail__reviews-title {
    font-size: 20px;
    margin-bottom: 24px;
  }
}