html{
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Mulish", sans-serif;
}

*,
*::after,
*::before{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: #151517;
  
  &.is-locked {
    overflow: hidden;
  }
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 16px;
  
  .fields__row {
    display: flex;
    gap: 16px;
  }
}

.field {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;

  .field__label {
    font-size: 14px;
    font-weight: 600;
    color: #FFFFFF;
  }

  .field__error {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    color: #FE1D3B;
    text-align: right;
  }
}

.container__header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;

  & .container__title {
    font-size: 20px;
  }
}